# Environment variables
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
virtualtest/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# AWS credentials
.aws/
credentials
config

# GitHub's Python additions
*.egg-info/
dist/
build/